*{
    margin: 0;
    padding: 0;
}

footer p {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;    
}

main, footer{
    padding: 10px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

.menu a{
    border: solid black 1px;
    padding: 4px 10px 4px 10px;
    margin: 5px;
}

.menu a:hover{
    background-color: black;
}
.menu{
    margin-top: 10px;
    margin-bottom: 20px;  
}

.mainTitle{
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
}

.encabezado{
    background-color: purple;
    padding-bottom: 1px;
}

header img {
    position: relative;
    top:5px;
    left: 250px;
}
