#quienes{
    margin-right: 1300px;   
}

#creacion{
    margin-right: 1300px;
}

h3{
    font-size: 24px;
}
#apariciones{
    position: absolute;
    top: 12%;
    left: 34%;
}

section p{
    font-size: 18px;
}