h3{
    font-size: 24px;
}

p{
    font-size: 18px;
}

#debut{
    float: left;
}

#pinball{
    float: left;
    margin-left: 20px;
}

footer{
    position: absolute;
    top: 43%;    
}